
<div 
  class=""
  infinite-scroll
  [infiniteScrollDistance]="2"
  [scrollWindow]="true"
  [infiniteScrollThrottle]="300"
  [immediateCheck]="true"
  (scrolled)="loadMore()"
>
  <h2 class="text-xl font-bold mb-4">Lời mời kết bạn</h2>

  <div *ngIf="friendRequests.length > 0; else noRequests" class="grid grid-cols-5 gap-4">
    @for (friend of friendRequests; track $index) {
      <div class="bg-white rounded-xl shadow">
        <app-avatar 
          [avatarUrl]="friend.otherUser?.profile?.avatarUrl"
          [width]="210"
          [height]="210"
          [customClass]="'rounded-lg'"
          routerLink="/user/profile/{{ friend.otherUser?.profile?.username }}" 
        ></app-avatar>
  
        <!-- Name -->
        <p class="text-left p-4 pb-0 font-medium mb-3"
          routerLink="/user/profile/{{ friend.otherUser?.profile?.username }}">
          {{ getDisplayName(friend) }}
        </p>
  
        <!-- Action buttons -->
        <div class="flex flex-col gap-2 p-4">
          <button 
            class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition"
            (click)="acceptFriend(friend.otherUser?.id)">
            Xác nhận
          </button>
          <button 
            class="w-full bg-gray-200 text-gray-700 py-2 rounded-lg hover:bg-gray-300 transition"
            (click)="deleteFriend(friend.otherUser?.id)">
            Xóa
          </button>
        </div>
      </div>
    }
  </div>

  <!-- loading indicator -->
  <div *ngIf="isLoading" class="text-center py-4 text-gray-500">
    Đang tải thêm... 
  </div>

  <ng-template #noRequests>
    <p class="text-gray-500">Không có lời mời kết bạn nào</p>
  </ng-template>
</div>