<div class="p-4 font-bold text-xl">Đoạn chat</div>
<div class="px-4">
  <input
    type="text"
    placeholder="Tìm kiếm trên Messenger"
    class="w-full rounded-full bg-gray-100 px-4 py-2 text-sm focus:outline-none"
  />
</div>
<div class="flex-1 overflow-y-auto mt-2 p-2">
  <!-- 1 conversation -->
  <div class="flex items-center gap-3 p-3 cursor-pointer"
    *ngFor="let c of conversations"
    [ngClass]="selectedConversation?.id === c.id
          ? 'bg-blue-100 hover:bg-blue-100'
          : 'hover:bg-gray-200'"
    (click)="selectConversation(c)"
  >
    @if (c.type === 'DIRECT') {
      <app-avatar
        [avatarUrl]="getOtherMember(c)?.user?.profile?.avatarUrl"
        [height]="56"
        [width]="56"
      ></app-avatar>
    }

    <div class="flex-1 min-w-0">
      <div class="font-medium">
        {{ getOtherMember(c)?.user?.profile?.fullName }}
      </div>
      
      <div class="flex items-center text-sm text-gray-500 min-w-0">
        <!-- Last message -->
        <span class="truncate min-w-0 ">
          {{ c.lastMessage?.content || 'Chưa có tin nhắn mới' }}
        </span>

        <!-- Time -->
        <span class="text-xs text-gray-400 flex-shrink-0 ml-2">
          • {{ c.lastMessage?.createdAt | timeAgo }}
        </span>
      </div>
    </div>
  </div>
</div>