<div 
  class="max-w-2xl mx-auto p-4 space-y-6"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [scrollWindow]="true"
  [infiniteScrollThrottle]="300"
  (scrolled)="loadMore()"
>
  <!-- Form tạo post -->
  <div class="bg-white rounded-2xl shadow p-4 space-y-4">
    <div class="flex gap-2">
      <!-- avatar -->
      <app-avatar 
          [avatarUrl]="currentUserLoggedIn?.profile?.avatarUrl" 
          [width]="48" 
          [height]="48" 
          [customClass]="'rounded-full border-2 border-white shadow-sm'"
      ></app-avatar>

      <textarea 
        [(ngModel)]="content"
        placeholder="Bạn đang nghĩ gì thế?" 
        class="w-full px-4 py-2 rounded-lg border bg-gray-100 focus:outline-none"
      ></textarea>
    </div>

    <!-- Preview ảnh/video -->
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2" *ngIf="previewUrls.length > 0">
      <div *ngFor="let url of previewUrls; let i = index" class="relative">
        <img [src]="url" class="w-full h-44 object-cover rounded-lg" />
        <button (click)="removeFile(i)" 
                class="absolute top-1 right-1 bg-black bg-opacity-60 text-white rounded-full p-1 text-xs"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <input type="file" multiple (change)="onFileSelected($event)" class="hidden" #fileInput />
      <button (click)="fileInput.click()" class="text-blue-500"><i class="fa-solid fa-camera"></i> Thêm ảnh/video</button>
      <button (click)="createPost()"  [disabled]="isPosting"
              class="bg-blue-500 text-white px-4 py-2 rounded-lg">Đăng</button>
    </div>
  </div>

  <!-- Danh sách bài viết -->
  <div *ngFor="let post of posts" class="bg-white rounded-2xl shadow mb-4">
    <app-post-detail 
      [post]="post"
      [currentUserLoggedIn]="currentUserLoggedIn"
      (updatedPost)="updatePrivacyPost($event)"
      (deletedPost)="deletePost($event)"
    ></app-post-detail>
  </div>

  <!-- loading indicator -->
  <div *ngIf="isLoading" class="text-center py-4 text-gray-500">
    Đang tải thêm...
  </div>

  <p *ngIf="posts.length === 0" class="text-gray-500 text-center text-lg">Chưa có bài viết nào</p>

</div>
