<div class="flex flex-col h-screen">
  <!-- Top Navbar luôn hiển thị -->
  <app-top-navbar class="z-[100]" [currentUser]="currentUser"></app-top-navbar>

  <div class="flex flex-1">
    <!-- Sidebar: chỉ hiện khi đang ở trang /user/posts -->
    <ng-container *ngIf="isInPostsPage">
      <app-sidebar [currentUser]="currentUser"></app-sidebar>
    </ng-container>

    <!-- Main -->
    <main class="flex-1 bg-gray-100 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>

    <ng-container *ngIf="isInPostsPage">
      <app-right-sidebar [currentUser]="currentUser"></app-right-sidebar>
    </ng-container>
  </div>
</div>